@font-face {
    font-family: BigNoodleTitling;
    src: url(Fonts/BigNoodleTitling.ttf);
}

.header {
    background-color: #F8F6F6;
    /* width: 1366px; */
    height: 143px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 60px;
    font-family: BigNoodleTitling;
    font-size: 40px;
    color: #696969;
}

.hamburgermenu {
    padding-right: 60px;
}

.creative_works {
    background-color: #353535;
    /* width: 1366px; */
    height: 705px;
}

.creative_works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title,
.subtitle,
.scrollDown {
    font-family: BigNoodleTitling;
    font-size: 72px;
    color: #d6d5d5;
}

.subtitle {
    font-size: 36px;
}

.scrollDown {
    font-size: 12px;
}

.aboutUsTab {
    height: 569px;
    /* width: 1366px; */
}

.TopPart {
    /* width: 1366px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.headingAboutUs {
    font-family: BigNoodleTitling;
    font-size: 48px;
    color: #3d3d3d;
    border-bottom: 3px solid #f15324;
    margin-top: 95px;
}

.loremIpsum {
    width: 547px;
    height: 41px;
    font-size: 14px;
    color: #3d3d3d;
    font-family: BigNoodleTitling;
    margin-top: 26px;
}

.boxSize {
    width: 1044px;
    height: 199px;
    margin-top: 62px;
}

.pluses {
    width: 322px;
    height: 196px;
    background-color: #ebebeb;
}

.pluses__text {
    font-size: 18px;
    font-family: BigNoodleTitling;
    color: #3d3d3d;
}

.pluses__loremIpsum {
    font-size: 14px;
    font-family: BigNoodleTitling;
    color: #3d3d3d;
}

.pluses {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.boxSize {
    display: flex;
    flex-direction: row;
    width: 1004px;
    height: 196px;
    justify-content: space-between;
}

.pluses__image {
    margin-top: 31px;
}

.pluses__loremIpsum {
    margin-bottom: 28px;
}

.videotab {
    /* width: 1366px; */
    height: 428px;
    display: flex;
    flex-direction: row;
}

.playNow {
    width: 683px;
    height: 428px;
    background-color: #171f23;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.backgroundImage {
    width: 683px;
    height: 428px;
    background-image: url(images/background.png);
    position: relative;
}

.heading {
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
    height: 30px;
}

.loremIpsumText {
    font-family: Roboto;
    font-weight: thin;
    font-size: 14px;
    color: #585959;
    text-align: center;
    height: 75px;
    width: 470px;
}

.playnowbutton {
    color: white;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    width: 128px;
    height: 37px;
    background-color: #e64e40;
    border: 0;
    border-bottom: 3px solid #b51809;
    box-sizing: border-box;
}

.sizing {
    height: 201px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.BGColor {
    position: absolute;
    background-color: #111618;
    opacity: 80%;
    width: 683px;
    height: 428px;
}

.videoImage {
    position: absolute;
    margin-left: 300px;
    margin-top: 160px;
}

.ourWorks {
    height: 316px;
    /* width: 1366px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.headingOurWorks {
    font-family: BigNoodleTitling;
    font-size: 48px;
    color: #3d3d3d;
    text-decoration: underline #f4511e;
}

.textLoremIpsum {
    font-family: Roboto;
    font-weight: thin;
    font-size: 14px;
    color: #3d3d3d;
    width: 542px;
}

.menuItem {
    font-family: Roboto;
    font-weight: Bold;
    font-size: 14px;
    color: #4d4140;
}

.menuItem:hover {
    text-decoration: underline orangered;
}

.OurWorksAlign {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 544px;
    height: 107px;
}

.bottomMenu {
    display: flex;
    flex-direction: row;
    width: 616px;
    height: 25px;
    justify-content: space-between;
}

.orange {
    /* width: 1366px; */
    height: 525px;
    background-color: #e84c3d;
}

.clients {
    /* width: 1366px; */
    height: 240px;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clientName {
    color: #ececec;
    font-family: Arial Unicode MS;
    font-size: 33px;
}

.image_client_name {
    display: flex;
    flex-direction: row;
    width: 241px;
    align-items: center;
    justify-content: center;
}

.clientImage {
    padding: 0;
    z-index: 5;
    position: relative;
}

.clientImageSquare {
    position: absolute;
    z-index: 1;
}

.position {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.whoWeAreSize {
    height: 813px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 1366px; */
}

.whoWeAre {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 273px;
    justify-content: space-around;
}

.headingwhoWeAre {
    font-family: BigNoodleTitling;
    font-size: 48px;
    color: #4d4140;
    padding-bottom: 12px;
}

.orangeLine {
    width: 155px;
    height: 3px;
    background-color: #f15324;
}

.whoWeAreAlign {
    display: flex;
    flex-direction: column;
    height: 70px;
    align-items: center;
}

.whoWeAreText {
    color: #989898;
    font-family: Roboto;
    font-weight: thin;
    width: 552px;
    text-align: center;
}

.personBackground {
    height: 438px;
    /* width: 1366px; */
    margin-bottom: 106px;
    display: flex;
    justify-content: center;
}

.team {
    width: 1004px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.person {
    width: 321px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 72px;
}

.orangeCircle {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    background-color: #ef6b50;
}

.name {
    font-family: Roboto;
    font-weight: Bold;
    font-size: 20px;
    color: #4d4140;
}

.profession {
    font-family: Myriad Pro;
    font-size: 14px;
    color: #3d3d3d;
    text-align: center;
}

.hoverDots {
    display: flex;
    flex-direction: row;
    width: 51px;
    justify-content: space-between;
}

.dots {
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
}

.dots:hover {
    background-color: #696969;
}

.mySkills {
    width: 663px;
    background-color: #ebebeb;
}

.mySkillsHeading {
    font-family: Roboto;
    font-weight: Bold;
    font-size: 20px;
    color: #4d4140;
}

.mySkillsText {
    font-family: Roboto;
    font-weight: thin;
    font-size: 14px;
    color: #858383;
}

.editorName {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    color: #3d3d3d;
}

.size {
    width: 543px;
    height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 124px;
    margin-left: 65px;
}

.mySkillsStatistics {
    width: 543px;
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lineStatistics {
    display: flex;
    flex-direction: column;
    height: 112px;
    width: 369px;
    justify-content: space-between;
    margin-top: 5px;
}

.linesAlign {
    height: 15px;
    width: 369px;
    display: flex;
    flex-direction: row;
}

.orangeStatisticsP,
.orangeStatisticsI,
.orangeStatisticsS,
.orangeStatisticsA {
    background-color: #e64e40;
    height: 2px;
}

.orangeStatisticsP {
    width: 291px;
}

.orangeStatisticsI {
    width: 309px;
}

.orangeStatisticsS {
    width: 300px;
}

.orangeStatisticsA {
    width: 344px;
}

.whiteStatisticsP,
.whiteStatisticsI,
.whiteStatisticsS,
.whiteStatisticsA {
    background-color: #fbefee;
    height: 2px;
}

.whiteStatisticsP {
    width: 78px;
}

.whiteStatisticsI {
    width: 60px;
}

.whiteStatisticsS {
    width: 69px;
}

.whiteStatisticsA {
    width: 25px;
}

.percentage {
    height: 112px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editorNamealign {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}