@font-face {
    font-family: BigNoodleTitling;
    src: url(../Fonts/BigNoodleTitling.ttf);
}
@media screen and (max-width: 375px) {
    .logoText {
      font-size: 80px !important;
     } 
    .header {
        background-color: red !important;
    }}

.header {
    background-color: #F8F6F6;
    height: 143px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.headerSize{
    width: 1004px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 60px;
    font-family: BigNoodleTitling;
    font-size: 40px;
    color: #696969;
}
.logoText{
    margin-left: 35px;
}

.hamburgermenu {
    padding-right: 60px;
}

.creative_works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 705px;
    background-color: #353535;
}
.imageMouse{
    margin-top: 166px;
}
.title{
    margin-top: 166px;
}

.title,
.subtitle,
.scrollDown {
    font-family: BigNoodleTitling;
    font-size: 72px;
    color: #d6d5d5;
}

.subtitle {
    font-size: 36px;
}

.scrollDown {
    font-size: 12px;
}

.aboutUsTab {
    height: 569px;
}

.TopPart {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.headingTop {
    font-family: BigNoodleTitling;
    font-size: 48px;
    color: #3d3d3d;
    margin-top: 77px;
}
.BlogPosts{
    margin-top: 30px;
}

.loremIpsum {
    width: 547px;
    height: 41px;
    font-size: 14px;
    color: #3d3d3d;
    font-family: BigNoodleTitling;
    margin-top: 26px;
}

.boxSize {
    width: 1044px;
    height: 199px;
    margin-top: 62px;
}

.pluses {
    width: 322px;
    height: 196px;
    background-color: #ebebeb;
}

.pluses__text {
    font-size: 18px;
    font-family: BigNoodleTitling;
    color: #3d3d3d;
}

.pluses__loremIpsum {
    font-size: 14px;
    font-family: BigNoodleTitling;
    color: #3d3d3d;
}

.pluses {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.boxSize {
    display: flex;
    flex-direction: row;
    width: 1004px;
    height: 196px;
    justify-content: space-between;
}

.pluses__image {
    margin-top: 31px;
}

.pluses__loremIpsum {
    margin-bottom: 28px;
}

.videotab {
    /* width: 1366px; */
    height: 428px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.playNow {
    width: 683px;
    height: 428px;
    background-color: #171f23;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.backgroundImage {
    width: 683px;
    height: 428px;
    background-image: url(../images/background.png);
    position: relative;
}

.heading {
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
    height: 30px;
}

.loremIpsumText {
    font-family: Roboto;
    font-weight: thin;
    font-size: 14px;
    color: #585959;
    text-align: center;
    height: 75px;
    width: 470px;
}

.playnowbutton {
    color: white;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    width: 128px;
    height: 37px;
    background-color: #e64e40;
    border: 0;
    border-bottom: 3px solid #b51809;
    box-sizing: border-box;
}

.sizing {
    height: 201px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.BGColor {
    position: absolute;
    background-color: #111618;
    opacity: 80%;
    width: 683px;
    height: 428px;
}

.videoImage {
    position: absolute;
    margin-left: 300px;
    margin-top: 160px;
}

.ourWorks {
    height: 316px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.textLoremIpsum {
    font-family: Roboto;
    font-weight: thin;
    font-size: 14px;
    color: #3d3d3d;
    width: 542px;
}

.menuItem {
    font-family: Roboto;
    font-weight: Bold;
    font-size: 14px;
    color: #4d4140;
}

.menuItem:hover {
    text-decoration: underline orangered;
}

.OurWorksAlign {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
    
.bottomMenu {
    display: flex;
    flex-direction: row;
    width: 616px;
    height: 25px;
    justify-content: space-between;
    margin-bottom: 28px;
}

.orange {
    /* width: 1366px; */
    height: 525px;
    background-color: #e84c3d;
}

.clients {
    /* width: 1366px; */
    height: 240px;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clientName {
    color: #ececec;
    font-family: Arial Unicode MS;
    font-size: 33px;
}

.image_client_name {
    display: flex;
    flex-direction: row;
    width: 241px;
    align-items: center;
    justify-content: center;
}

.clientImage {
    padding: 0;
    z-index: 5;
    position: relative;
}

.clientImageSquare {
    position: absolute;
    z-index: 1;
}

.position {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.whoWeAreSize {
    height: 813px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 1366px; */
}

.whoWeAre {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 273px;
    text-align: center;
}

.orangeLine {
    width: 120px;
    height: 3px;
    background-color: #f15324;
}

.personBackground {
    height: 438px;
    /* width: 1366px; */
    margin-bottom: 106px;
    display: flex;
    justify-content: center;
}

.team {
    width: 1004px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.person {
    width: 321px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 72px;
}

.orangeCircle {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    background-color: #ef6b50;
}

.name {
    font-family: Roboto;
    font-weight: Bold;
    font-size: 20px;
    color: #4d4140;
}

.profession {
    font-family: Myriad Pro;
    font-size: 14px;
    color: #3d3d3d;
    text-align: center;
}

.hoverDots {
    display: flex;
    flex-direction: row;
    width: 51px;
    justify-content: space-between;
}

.dots {
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
}

.dots:hover {
    background-color: #696969;
}

.mySkills {
    width: 663px;
    background-color: #ebebeb;
}

.mySkillsHeading {
    font-family: Roboto;
    font-weight: Bold;
    font-size: 20px;
    color: #4d4140;
}

.mySkillsText {
    font-family: Roboto;
    font-weight: thin;
    font-size: 14px;
    color: #858383;
}

.editorName {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    color: #3d3d3d;
}

.size {
    width: 543px;
    height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 124px;
    margin-left: 65px;
}

.mySkillsStatistics {
    width: 543px;
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lineStatistics {
    display: flex;
    flex-direction: column;
    height: 112px;
    width: 369px;
    justify-content: space-between;
    margin-top: 5px;
}

.linesAlign {
    height: 15px;
    width: 369px;
    display: flex;
    flex-direction: row;
}

.orangeStatisticsP,
.orangeStatisticsI,
.orangeStatisticsS,
.orangeStatisticsA {
    background-color: #e64e40;
    height: 2px;
}

.orangeStatisticsP {
    width: 291px;
}

.orangeStatisticsI {
    width: 309px;
}

.orangeStatisticsS {
    width: 300px;
}

.orangeStatisticsA {
    width: 344px;
}

.whiteStatisticsP,
.whiteStatisticsI,
.whiteStatisticsS,
.whiteStatisticsA {
    background-color: #fbefee;
    height: 2px;
}

.whiteStatisticsP {
    width: 78px;
}

.whiteStatisticsI {
    width: 60px;
}

.whiteStatisticsS {
    width: 69px;
}

.whiteStatisticsA {
    width: 25px;
}

.percentage {
    height: 112px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editorNamealign {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.someFeatures {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #171f23;
    height: 383px;
    font-size: 36px;
    font-family: Roboto;
    font-weight: bold;
    color: white;
}

.featuresList {
    width: 919px;
    height: 212px;
}

.insideAlign {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    width: 108px;
    height: 203px;
}

.numbers {
    font-size: 48px;
    font-family: Myriad Pro;
    font-weight: thin;
}

.blogPosts {
    height: 797px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.examples {
    width: 1004px;
    height: 426px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 115px;
}

.create {
    width: 321px;
    height: 426px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.loremBlogPosts {
    margin-top: 0;
    text-align: center;
}
.makeabreak {
    position: absolute;
}

.hovers {
    position: relative;
    width: 108px;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 84px;
    margin-left: 100px;
}

.orangeButton,
.pinkButton {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ellipse {
    position: absolute;
    width: 40px;
    height: 40px;
}

.icon {
    position: relative;
}

.secondPart,
.secondPartPosition {
    background-color: #ebebeb;
    width: 322px;
    height: 213px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: left;
}

.blogpic,
.makeabreak {
    width: 321px;
    height: 213px;
}

.secondPartPosition {
    margin-top: 82px;
}

.createHeading,
.date,
.numberOfLikes,
.numberOfSms {
    font-family: Myriad Pro;
    font-size: 18px;
    color: #5e5251;
}

.LoremSeconPart {
    color: #5e5251;
    font-family: Roboto;
    font-weight: thin;
    font-size: 14px;
    opacity: 100%;
}

.bottomLine {
    width: 262px;
    height: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dateleft {
    height: 12px;
    width: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dateright {
    height: 12px;
    width: 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date,
.numberOfLikes,
.numberOfSms {
    font-size: 10px;
}

.creativeCleanSize {
    width: 262px;
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    height: 213px;
}

.chooseplan {
    height: 705px;
    background-color: #171f23;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.plans {
    width: 984px;
    height: 449px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headingChoosePlan {
    font-size: 40px;
    font-family: Roboto;
    color: white;
}

.typesOfPlanes {
    width: 236px;
    height: 449px;
    display: flex;
    flex-direction: column;
}

.cost {
    height: 129px;
    width: 236px;
    background-color: #0e1316;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.includes {
    background-color: #1f282c;
    width: 236px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nameOfType {
    font-family: Roboto;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.sumOfColumn {
    font-family: Roboto;
    font-size: 36px;
    color: white;
}
.includes_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 121px;
    text-align: center;
    color: white;
    
}
.includes_list_text{
    font-weight: bold;
}
button{
    border-radius: 4px;
    background-color: #f6744b;
    color: white;
    font-family: Roboto;
    font-weight: bold;
    border: none;
}
.purchase{
    width: 126px;
    height: 34px;
    
}
.typesOfPlanes:hover{
    border: 2px solid #f6744b;
    box-sizing: border-box;
}
.getintouch{
    height: 694px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.formforName_Mail{
    display: flex;
    flex-direction: row;
    width: 787px;
    height: 374px;
    justify-content: space-between;
}
.nameForm{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 69px;
    justify-content: space-between;
}
.nameHeading{
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    color: #696969;
}
.nameInput,.massageInput{
    border: none;
    border-bottom: 1px solid #696969;
    height: 44px;
}
.massageInput{
    width: 775px;
    height: 80px;
}
.forms{
    width: 771px;
    height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sendMessage{
    width: 202px;
    height: 51px;
}
.locateOnMap{
    height: 83px;
    color: white;
    background-color: #0c1215;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: bold;
}
.imageForLocation{
    margin-left: 10px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 239px;
    background-color: #171f23;
    align-items: center;
}
.boostfolia{
    font-family: BigNoodleTitling;
    font-size: 24px;
    color: #e7dbdb;
}
.boostfoliaSubtitle{
    font-family: Myriad Pro;
    font-size: 14px;
    color: #e7dbdb;
}
.footerSize{
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}